.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 5) !important;
}

.container {
    padding-bottom: 2px;
    border-bottom: 1px solid #aaa;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.masterWrapper {
    overflow-x: hidden;
    postition: relative;
}

#profilePic {
    max-height: 300px;
}

#projectCard {
    max-width: 20rem;
}

